.footer-section { 
    background-color: #D4002A;

    .footer-main { display: flex; flex-wrap: wrap; flex-direction: column; padding: 35px 0px 14px; align-items: center; 

        .footer-logo {
            span { font-family: $lustrat; font-size: 22px; letter-spacing: 1.5px; color: #fff; }
        }
        .social-list{display: flex; padding-top: 15px;
            .social-item{margin-right: 18px;
                &:last-child{
                    margin-right: 0px;
                }
                .social-links{
                        i{
                            color: #fff;
                            font-size: 28px;
                        }
                }
            }
        }

        .copright { font-weight: 500; color: #fff; font-family: $helvetica-medium; font-size: 17px;     padding: 15px 0px; }
    }
}