/*HelveticaNeue-Bold*/

%helvetica-bold-16 { font-family: $helvetica-bold; font-size: $size-16px; font-weight: $weight-700; }


/*HelveticaNeue-medium*/

%helvetica-medium-16 { font-family: $helvetica-medium; font-size: $size-16px; font-weight: $weight-500; }

/*HelveticaNeue-regular*/
%helvetica-regular-14 { font-family: $helvetica-regular; font-size: $size-14px; font-weight: $weight-400; }
%helvetica-regular-18 { font-family: $helvetica-regular; font-size: $size-18px; font-weight: $weight-400; }
%helvetica-regular-24 { font-family: $helvetica-regular; font-size: $size-24px; font-weight: $weight-400; }
%helvetica-regular-25 { font-family: $helvetica-regular; font-size: $size-25px; font-weight: $weight-400; }
%helvetica-regular-26 { font-family: $helvetica-regular; font-size: $size-26px; font-weight: $weight-400; }
%helvetica-regular-30 { font-family: $helvetica-regular; font-size: $size-30px; font-weight: $weight-400; }
/*HelveticaNeue-conblack*/

%helvetica-conblack-17 { font-family: $helvetica-conblack; font-size: $size-17px; font-weight: $weight-400; }


/*HelveticaNeue-Centurion*/

%Centurion-17 { font-family: $Centurion; font-size: $size-17px; font-weight: $weight-400; }
