$helvetica-bold:'HelveticaNeue-Bold'; 
$helvetica-medium:'HelveticaNeue-Medium'; 
$helvetica-regular:'HelveticaNeue-Regular'; 
$helvetica-conblack:'HelveticaConBlack'; 
$Centurion:'Centurion'; 
$lustrat:'lustra';
$lustra-medium:'lustra-medium';



$weight-300:300; 
$weight-400:400; 
$weight-500:500; 
$weight-600:600; 
$weight-700:700; 



$size-12px:12px; 
$size-13px:13px; 
$size-14px:14px; 
$size-15px:15px; 
$size-16px:16px; 
$size-17px:17px; 
$size-18px:18px; 
$size-19px:19px; 
$size-20px:20px; 
$size-21px:21px; 
$size-22px:22px; 
$size-23px:23px; 
$size-24px:24px;
$size-25px:25px; 
$size-26px:26px; 
$size-28px:28px; 
$size-30px:30px; 
$size-35px:35px; 
$size-40px:40px; 
$size-45px:45px; 
$size-49px:49px; 
$size-50px:50px; 
$size-60px:60px; 
